#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build-arch: build-arch-stamp
build-arch-stamp:
	dh_testdir
	
	$(MAKE) DEBUG=0
	
	touch $@

build-indep: build-indep-stamp
build-indep-stamp:
	dh_testdir
	touch $@

build: build-arch build-indep

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	
	$(MAKE) clean
	
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_prep  
	dh_installdirs
	
	# currently not working, we use dh_install instead
	$(MAKE) PREFIX=$(CURDIR)/debian/openfwwf/lib/firmware/b43-open install

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_install
	dh_installmodules
	dh_lintian
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
